* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f4f4f4;
}

/* NAVBAR */
.navbar {
    background-color: #1c1c1c;
    width: 100%;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* TOP LEVEL ITEMS */
.nav-links > li {
    position: relative;
}

.nav-links > li > a {
    display: block;
    padding: 18px 14px;
    color: white;
    text-decoration: none;
    font-size: 13px;
    text-transform: uppercase;
    white-space: nowrap;
}

.nav-links > li > a:hover {
    background-color: #333;
}

/* DROPDOWN */
.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #2a2a2a;
    min-width: 200px;
    z-index: 1000;
}

.dropdown-menu li a {
    display: block;
    padding: 12px 16px;
    color: white;
    text-decoration: none;
    font-size: 13px;
}

.dropdown-menu li a:hover {
    background-color: #444;
}

/* SHOW DROPDOWN ON HOVER */
.dropdown:hover .dropdown-menu {
    display: block;
}
